.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 660px;
    margin: 100px auto;
}

.Titulo h1{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#back-board{
    background: #EDFAA7;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}