#back-menu{
    background-image: url(../Img/Colegio.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.contenedores{
    background: #EDFAA7;
    border: 1px solid #00000040;
    color: black;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    overflow: hidden;
    width: 300px;
    border-radius: 6px;
    margin: 30px;
}
